
.form-group {
    position: relative;
    margin-top: 30px;
    margin-bottom: 5px;
}

.form-control {
    border: none;
    padding: 5px 1px;
    border-bottom: 1px solid #efefef;
    border-radius:0;
    background: transparent;
    z-index:2;
    position: relative;
    font-size: 14px;

}

select.form-control {
    padding: 5px 0;
}

.form-control ~ label {
    top: 3px;
    position: absolute;
    transition: top 0.1s;
    opacity: 0.5;
    font-size: 15px;
    padding: 0 1px;
}

.form-control:not(:placeholder-shown) ~ label, .form-control:focus ~ label {
    top: -17px;
    z-index: 3;
    font-size:13px;
    opacity: 0.8;
}

.form-control:focus ~ label {
    color: #5cb3fd;
    opacity: 1.0;
}

.form-group.error:focus .form-control ~ label {
    color: #E53935;
}

.form-control:focus {
    border-bottom: 1px solid #efefef;
    background: initial;
    color: inherit;
    box-shadow: none;
}

.form-highlight {
    position:absolute;
    height:2px;
    width:100px; 
    bottom: 0px; 
    left:50%;
    margin-left: -50px;
    pointer-events:none;
    margin: 0 auto;
    transition: 0.3s;
}

.form-group {
    height: auto;
}


.text-error, .message-error {
    color: #E53935;
}

.message-error {
    margin-bottom: 10px;
    display: block;
}

.text-error {
    font-size: 14px;
    
}


/* active state */
.form-group.error .form-highlight, .form-control:focus ~ .form-highlight, .form-control:not(:placeholder-shown):invalid ~ .form-highlight {
    background: #5cb3fd;
    width:100%; 
    margin-left: 0; 
    left: 0; 
    z-index: 4;
}

.form-group.error .form-highlight, .form-control:not(:placeholder-shown):invalid ~ .form-highlight {
    background: #E53935;
}


.form-group {
    position: relative;
    margin-top: 30px;
    margin-bottom: 5px;
}
.dropdown-menu{
    margin: 0 !important;

}
