*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

html,body{
    height:100% !important;
}

thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    color: #5b5b5b;
    margin:0;
    font-size:14px;
    font-family: "Lato", sans-serif;
    color: #54545b;
    background: #f0f6fe;
    margin:0;
    font-size:12px;
    font-family: "Montserrat";
    color:#333;
}

button,input,textarea{
    background:none;
    border:none;
    margin:0;
    padding:0;
    outline:none;
}

ul,li{
    margin:0;
    padding:0;
}

a, a:link, a:visited {
  transition: all .3s ease;
}

a:focus, a:hover {
    text-decoration: none !important
}

.avatar {
    width: 34px;
    height: 34px;
    margin: 0 8px;
    display: inline-block;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.description {
  font-size: 11px;
  opacity: 0.8;
  padding: 0 1px;
  margin-top: -2px;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-icon {
    width: 24px;
    height: 24px;
    padding: 2px !important;
    cursor: pointer;
}



.hide{
    display:none;
}

.disable{
    opacity:0.7;
    cursor:default !important;
}

.text-ellips {
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w100 {
    width: 100%;
}

.container-h{
    position:relative;
    width:100%;
    display:flex;
    min-height: 100vh;
}


a, a:hover {
    text-decoration: none;
    color: inherit;
}

@media(min-width:0px){
    .ly-xs-100{ width:100%; }
}

@media (min-width:576px){

    .ly-sm-50{ width:50%; }
 
}

@media (min-width:768px){

    .ly-md-25{ width:25%; }
 


}
@media (min-width:992px){
    [class~='ly-lg-16.66']{ width:16.66%; }

}
@media (min-width:1200px){
    [class~='ly-xl-12.50']{ width:12.5%; }
    [class~='ly-xl-16.66']{ width:16.66%; }
}


@media (min-width:1600px){
    [class~='ly-en-12.50']{ width:12.5%; }
}

h1, h2, h3 {
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

html,body{
    height:100% !important;
}

thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,input,textarea{
    background:none;
    border:none;
    margin:0;
    padding:0;
    outline:none;
}

ul,li{
    margin:0;
    padding:0;
}

.hide{
    display:none;
}

.disable{
    opacity:0.7;
    cursor:default !important;
}


.paper {
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    border: none;
    margin-bottom: 1.875rem;
    transition: all .3s ease;
    background: white;
}


.admin-table td {
    vertical-align: middle !important;
}

.table-column-head{
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding: 0 !important;
}

.table-column-head-content {
    display: flex;
    padding: 15px 12px !important;
}

.table-column-head:hover{
    background: #0062cc;
    color: white;
}


.actions {
    max-width: 200px;
    position: relative;
    text-align: right;
}

.dropdown-columns-show {
    /*width: 200px;*/
    position: absolute;
    height: 0px;
    right: 9px;
    top: 9px;
}

.content {
    padding: 15px;
}

.actions {
    max-width: 200px;
    position: relative;
    text-align: right;
}

.dropdown-columns-show {
    /*width: 200px;*/
    position: absolute;
    height: 0px;
    right: 9px;
    top: 9px;
}

.content {
    padding: 15px;
}

label {
    font-size: 14px;
}

.text-light {
    color: inherit !important;
    opacity: 0.6;
}

.text-md {
    font-size: 14px;
}

.content {
    padding: 15px;
}

.text-light {
    color: inherit !important;
    opacity: 0.6;
}

.text-md {
    font-size: 14px;
}

.fix-spacing {
    height: 15px;
}
.show-value {
    font-size: 13px;
}

.label-show {
    font-size: 13px;
    opacity: 0.8;
}

.relative {
    position: relative;
}

.button-edit {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 24px;
    font-size: 18px;
    display: flex;
}

.button-edit .btn {
    border-radius: 100px;
    cursor:pointer;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 0 2px;
}

.field-label {
    font-weight: bold;
    display: block;
}

.resource-show label {
    font-size: 12px;
    opacity: 0.6;
    margin: 10px 0 0 0 ;
}
.resource-show pre{
    word-wrap: break-all;
}

.text-link{
    color: #333;
    transition: 0.05s linear color;
}

.text-link-router{
}

.text-link-router.router-link-active{
    color: white;
}


.alert{
    padding:5px 10px;
    font-size: 12px;
}

.label{
    padding: 4px 6px;
}

.list li{
    margin-left:20px;
}

.text-center{
    text-align:center;
}

.main-container{
    font-size:12px;
    display:flex;
    min-height:100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.templates{
    display:none;
}

label{
    display: block;
}

.section-inner{
  padding:0 15px;
}



iframe{
    width: 100%;
    border:none;
    min-height:800px;
}

iframe html,body{
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}